//
// Build configuration options for the app.
//

#include "../../Common/Config/Base.xcconfig"

PRODUCT_NAME = Sheldon
PROJECT_NAME = $(PRODUCT_NAME)

BUNDLE_IDENTIFIER = com.charlesharley.sheldon
BUNDLE_VERSION = 1.0
BUNDLE_BUILD_NUMBER = 1

INFOPLIST_FILE = Config/AppInfo.plist

WRAPPER_EXTENSION = app