//
// Build configuration options appropriate for all projects.
//

// ========== Platform ==========

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 7.0

// 1 == iPhone, 2 == iPad
TARGETED_DEVICE_FAMILY = 1,2

// ========== Search Paths ==========

BASE_FRAMEWORK_SEARCH_PATHS = $(SDKROOT)/Developer/Library/Frameworks
FRAMEWORK_SEARCH_PATHS = $(BASE_FRAMEWORK_SEARCH_PATHS)

// ========== Compilation ==========

BASE_OTHER_LDFLAGS = -framework Foundation -framework UIKit
OTHER_LDFLAGS = $(BASE_OTHER_LDFLAGS)

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SRCROOT)/../Common/Source/PrefixHeader.pch

ARCHS = $(ARCHS_STANDARD_INCLUDING_64_BIT)

// Disable position dependent code
GCC_DYNAMIC_NO_PIC = NO

CLANG_ENABLE_OBJC_ARC = YES

// Strip debug symbols during copy
COPY_PHASE_STRIP = YES
